html {font-size:20px;}
body {font-size:0.8rem;font-weight:300;overflow:hidden !important;}
header {position:fixed;top:2rem;left:2rem;width:calc(100% - 4rem);z-index:999;}
header i {position:absolute;top:0;right:0;}
nav {position:fixed;top:50%;left:2rem;transform:translateY(-50%);}
nav li {position:relative;}
nav li a {display:block;text-indent:-999px;width:3rem;line-height:1rem;}
nav li:after {content:"";display:block;width:1rem;height:0.1rem;background:#333;position:absolute;top:50%;left:0;transform:translateY(-50%);transition:0.5s;z-index:-1;}
nav li.on:after {width:2rem;}
footer {position:fixed;bottom:2rem;left:2rem;width:100%;z-index:999;}


.section:nth-child(even) {background-color:#f2f2f2}
.section {background-image:url(/img/bg01.png);height:100vh;}
.container {width:60rem;}
.intro .container>div {float:left;width:50%;padding:0 0.75rem;}
.pf01 .container>div {float:left;width:50%;padding:0 0.75rem;}


.intro h2 {font-size:3rem;font-weight:700;padding:2rem 0;}
.intro figure {width:20rem;height:20rem;border-radius:50%;overflow:hidden;margin-left:auto;}
.intro figure img {width:150%;}

.typed-cursor:after {content:" I";}

.pf01 .intro_txt {font-size:1rem;width:50%;height:5rem;overflow-y:scroll;}

.pf02 .container {display:flex;justify-content: center;}
.pf02 .container>div {position:relative;width:10rem;margin:0 0.5rem;}
.pf02 .container>div span {display:block;width:10rem;text-align:center;font-size:2rem;font-weight:700;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}

















